@font-face {
  font-family: 'GeneralSans-ExtralightItalic';
  src: url('https://gamzensahin.github.io/fonts/GeneralSans-ExtralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}